* {
    margin: 0;
    padding: 0;
}

.item-info-block {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .item-info-block {
        grid-template-columns: 1fr;
    }
}