@keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .lds-double-ring {
    position: relative;
    margin: 10px auto 0;
  }
  .lds-double-ring div {
    box-sizing: border-box;
  }
  .lds-double-ring > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #d62100 transparent #d62100 transparent;
    -webkit-animation: lds-double-ring 1.2s linear infinite;
    animation: lds-double-ring 1.2s linear infinite;
  }
  .lds-double-ring > div:nth-child(2),
  .lds-double-ring > div:nth-child(4) {
    width: 86%;
    height: 86%;
    top: 7%;
    left: 7%;
    -webkit-animation: lds-double-ring_reverse 1.2s linear infinite;
    animation: lds-double-ring_reverse 1.2s linear infinite;
  }
  .lds-double-ring > div:nth-child(2) {
    border-color: transparent #1686d1 transparent #1686d1;
  }
  .lds-double-ring {
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-90.5px, -90.5px) scale(0.905) translate(90.5px, 90.5px);
    transform: translate(-90.5px, -90.5px) scale(0.905) translate(90.5px, 90.5px);
  }