.person-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    background: #383232;
}
.person-info-block {
    flex: 1;
    padding-left: 10px;
}
.person-info {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.39);
}
.person-image {
    flex-shrink: 0;
    width: 30%;
    flex-shrink: 0;
    background: red;
    border-radius: 10px;
}
.person-image:before {
    content: "";
    display: block;
    padding-top: 100%;
}