.header {
    padding: 10px 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 5vw;
}
.star-db-logo {
    font-weight: bolder;
    font-size: 30px;
}
.header-list {
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.list-item {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #D5C377;
}
.list-item:hover {
    text-decoration: underline;
}