.item-list-block {
    border: 1px solid rgba(204, 204, 204, 0.39);
    border-radius: 10px;
    background: #383232;
    padding: 10px 0 0;
}
.item-list-block .item-list {
    padding: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.39);
}
.item-list-block .item-list:last-child {
    border: none;
}